*  {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #f0f0f0;
    font-family: 'Lato', sans-serif;
  }

  .conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header {
      display: flex;
      align-items: center;
      justify-content: center;

      height: 20vh;      

      background-color: #eec0c8;
      border-bottom:1px solid black;
  
  
  
      img {
          width: 14vw;
      }
  }

  .banner {
    background-image: url("./arquivos/kimchi.jpeg");
    background-position: center;
    background-size: cover;
    height: 300px;
  }

  .footer {
    background-color: #eec0c8;
    height: 50px;
  }

  .card {
    width: 500px;
    margin: auto;
    padding: 20px;
    background-color: white;
    margin: 50px auto;
    border-radius: 5px;
    font-weight: 300;
  }

  h1 {
    font-weight: 400;
    font-size: 25px;
    color: #F9629F;
  }

  li {
    list-style-position: inside;
    line-height: 30px;
  }

  .bordertitle {
    border: 1px solid #F9629F;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .titulo-receita {
    font-weight: 700;
    font-size: 30px;
    margin-top: 30px;
  }